<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="iFramework">
      <section name="data" type="iFramework.Framework.Providers.ProviderConfigurationHandler, iFramework.Framework" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QSDMSSQLConnectionString" connectionString="Data Source=.;Initial Catalog=QSDMS_Framework;Persist Security Info=True;User ID=sa;Password=123;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <iFramework>
    <data defaultProvider="SqlDataProvider">
      <providers>
        <clear />
        <add name="MySqlDataProvider" assembly="QSDMS.Data.Service.MySqlServer" />
        <add name="SqlDataProvider" assembly="QSDMS.Data.Service.SqlServer1" />
      </providers>
    </data>
  </iFramework>
</configuration>