<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="iFramework">
      <section name="data" type="iFramework.Framework.Providers.ProviderConfigurationHandler, iFramework.Framework" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<connectionStrings>
    <add name="DMSConnectionString_SqlServer" connectionString="Data Source=.;Initial Catalog=QSDMS_Framework;Persist Security Info=True;User ID=sa;Password=123;Asynchronous Processing=true;" providerName="System.Data.SqlClient" />
    <add name="DMSConnectionString_MySqlServer" connectionString="Server=localhost;database=test;user id=root;password=root;allow user variables=true;charset=utf8;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>-->
  <appSettings configSource="Resources\Config\Localhost\AppSettings.config" />
  <connectionStrings configSource="Resources\Config\Localhost\ConnectionStrings.config" />
  <iFramework>
    <data defaultProvider="SqlDataProvider">
      <providers>
        <clear />
        <add name="MySqlDataProvider" assembly="QSDMS.Data.Service.MySqlServer" />
        <add name="SqlDataProvider" assembly="QSDMS.Data.Service.SqlServer" />
      </providers>
    </data>
  </iFramework>
</configuration>